body {
  background: rgb(81, 148, 191)
}

.container {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: 25%;
  margin-left: 25%;
  background: rgb(55, 99, 127);
  align: center;
  border: 3px solid;
}

h1 {
  font-family: Verdana;
  color: rgb(188, 208, 252);
  text-align: center;
  text-decoration: underline;
}

a:hover {
  background: rgb(255, 211, 109);
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
}

.container h3 {
  text-decoration: none;
  width: 175px;
  margin: auto;
}

.container #title {
  text-decroation: underline;

}
